@use 'src/scss/variables' as vars;

.label {
  color: vars.$gray;
  line-height: 1.5;
  display: block;
  margin-bottom: 8px;

}

.inputWrapper {
  position: relative;

  &:has(.icon) .input {
    padding-left: 48px;
  }
}

.input, .textarea {
  border: none;
  background: vars.$inputs;
  padding: 16px 20px;
  width: 100%;
  height: 56px;
  border-radius: 12px;
  line-height: 1.5;
  color: vars.$main;
  position: relative;

  &::placeholder {
    color: vars.$gray;
  }
}

.textarea {
  height: 120px;
  resize: none;
}

.icon {
  position: absolute;
  top: 18px;
  left: 20px;
}

.error {
  color: vars.$button;
  font-size: 12px;
  margin: 0 0 0 16px;
}
