@use "src/scss/variables" as vars;

.section {
  margin-bottom: 32px;

  .sectionTitle {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    color: vars.$main;
    border-bottom: 1px solid vars.$gray-light;
    padding-bottom: 24px;
  }

  .options {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    row-gap: 8px;
    margin-top: 24px;

    .option {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      border: 1px solid vars.$gray-light;
      max-width: 112px;
      min-width: 112px;
      height: 96px;
      border-radius: 12px;
      transition: border-color .3s ease-in-out;
      cursor: pointer;

      &:hover, &.active {
        border-color: vars.$button;
      }

      .label {
        font-weight: 500;
        letter-spacing: -0.08px;
      }
    }
  }
}
